@model PagedList.IPagedList<Model.EF.DanhMucSanPham>
@using PagedList.Mvc

@{
    ViewBag.Title = "Thông tin các danh mục sản phẩm";
    Layout = "~/Areas/admin/Views/Shared/_Layouts.cshtml";
    int i = 0;
}

@section header {
    Danh sách danh mục sản phẩm
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" cellspacing="0">
            <div class="d-flex">
                <div class="create w-80">
                    <a href="/admin/danhmucsanpham/create" class="btn btn-info"><i class="fas fa-plus"></i> Thêm mới</a>
                </div>
                @using (Html.BeginForm("index", "danhmucsanpham", FormMethod.Get))
                {
                    <div class="form-inline form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.Search" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên danh mục</th>
                    <th>Tiêu đề MetaTitle</th>
                    <th>Danh mục cha</th>
                    <th>Tạo bởi</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">
                        <td>
                            @{ i++; }
                            @i
                        </td>
                        <td>@item.Name</td>
                        <td>@item.MetaTitle</td>
                        <td>@item.ParentID</td>
                        <td>@item.CreateBy</td>
                        <td>
                            <a class="format-function-edit" href="/admin/danhmucsanpham/edit/@item.Id"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                            @Ajax.ActionLink("Xóa", "delete", new { @id = item.Id }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa danh mục sản phẩm này?",
                           OnComplete = "$(' #row_" + @item.Id + " ').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("index",
                     new { page, @searchString = @ViewBag.Search }), new PagedListRenderOptions
                     {
                         DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                         DisplayLinkToLastPage = PagedListDisplayMode.Never,
                         DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                         DisplayLinkToNextPage = PagedListDisplayMode.Always,
                         MaximumPageNumbersToDisplay = 5
                     })
    </div>
</div>
