@model Model.EF.SanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.DanhMucSanPham)ViewBag.Category;
    var relatedProducts = (List<Model.EF.SanPham>)ViewBag.RelatedProducts;
}

<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="/assets/client/images/@Model.HinhAnh">
                                <div class="thumb-image">
                                    <img src="/assets/client/images/@Model.HinhAnh" data-imagezoom="true" class="img-fluid" alt="@Model.TenSP">
                                </div>
                            </li>
                            <li data-thumb="/assets/client/images/@Model.HinhAnh">
                                <div class="thumb-image">
                                    <img src="/assets/client/images/@Model.HinhAnh" data-imagezoom="true" class="img-fluid" alt="@Model.TenSP">
                                </div>
                            </li>
                            <li data-thumb="/assets/client/images/@Model.HinhAnh">
                                <div class="thumb-image">
                                    <img src="/assets/client/images/@Model.HinhAnh" data-imagezoom="true" class="img-fluid" alt="@Model.TenSP">
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 single-right-left simpleCart_shelfItem">
                <div class="content_top">
                    <div class="back-links">
                        <p><a href="/">Trang chủ</a> / <a href="/san-pham/">Sản phẩm</a> / <a href="/san-pham/@category.MetaTitle-@category.Id">@category.Name</a> / <a href="/chi-tiet/@Model.MetaTitle-@Model.MaSP">@Model.TenSP</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <h2 class="mb-3">@Model.TenSP</h2>
                <p>@Model.MoTa</p>
                <p class="mb-3">
                    @if (Model.GiaKhuyenMai != null)
                    {
                        if (Model.GiaKhuyenMai.HasValue)
                        {
                            <span class="item_price">@Model.GiaKhuyenMai.Value.ToString("N0")₫</span>
                            <del>@Model.DonGia.Value.ToString("N0")₫</del>
                        }
                        else
                        {
                            <span class="item_price">Liên hệ</span>
                        }
                    }
                    else
                    {
                        if (Model.DonGia.HasValue)
                        {
                            <span class="item_price">@Model.DonGia.Value.ToString("N0")₫</span>
                        }
                        else
                        {
                            <span class="item_price">Liên hệ</span>
                        }
                    }
                </p>
                <div class="single-infoagile">
                    <div class="share-desc">
                        <div class="share">
                            <p>Chia sẻ: </p>
                            <ul>
                                <li style="display:inline"><a href="#"><img src="/assets/client/images/facebook.png" alt="" /></a></li>
                                <li style="display:inline"><a href="#"><img src="/assets/client/images/zalo.png" alt="" /></a></li>
                                <li style="display:inline"><a href="#"><img src="/assets/client/images/skype.png" alt="" /></a></li>
                                <li style="display:inline"><a href="#"><img src="/assets/client/images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>
                        <div class="occasion-cart">
                            <div class="top_brand_home_details item_add single-item hvr-outline-out pl-3">
                                <a href="/them-gio-hang?productId=@Model.MaSP&quantity=1" class="btn btn-danger">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="product-single-w3l">
                        <p class="my-sm-4 my-3">
                            <i class="fas fa-retweet mr-3"></i>Ngân hàng & Tín dụng / Ghi nợ / Thẻ ATM
                        </p>
                    </div>
                </div>

            </div>
            <div class="categories col-sm-12 col-md-3 col-lg-3">
                <div class="guarantee">
                    <span>Mua như vua - Chăm sóc như vip</span>
                </div>
                <ul class="list-guarantee">
                    <li class="item-guarantee"><i class="fas fa-cogs"></i><b>Miễn phí </b>Công lắp đặt</li>
                    <li class="item-guarantee"><i class="fas fa-exchange-alt"></i>Lỗi là đổi mới trong <b>1 tháng </b>tận nhà</li>
                    <li class="item-guarantee"><i class="fas fa-phone-square"></i>Đổi trả và bảo hành cực dễ <b>chỉ cần số điện thoại</b></li>
                    <li class="item-guarantee"><i class="fas fa-shield-alt"></i>Bảo hành <b>chính hãng tủ lạnh 2 năm</b>, có người đến lấy tận nhà</li>
                </ul>
            </div>
            
            <div class="col-sm-12 col-md-9 col-lg-9 product-desc-container">
                <div class="horizontal-tab">
                    <ul class="resp-tabs-list">
                        <li>Mô tả sản phẩm</li>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc-content">
                            @Html.Raw(Model.ChiTiet)
                        </div>
                    </div>
                </div>
                <div class="product-desc-bottom">
                    <div class="product-related-title">
                        <span>Sản phẩm liên quan</span>
                        <a class="view-all-product ml-3" href="/san-pham">Xem tất cả</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row related-products">
                    @foreach (var item in relatedProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.MaSP;
                        <div class="col-md-3 product-men mt-5">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item text-center">
                                    <img src="/assets/client/images/@item.HinhAnh" alt="@item.TenSP">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="@url" class="link-product-add-cart">Xem chi tiết</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">Mới</span>

                                </div>
                                <div class="item-info-product text-center border-top mt-4">
                                    <label class="pt-2">
                                        <a href="@url">@item.TenSP</a>
                                    </label>
                                    <div class="info-product-price">
                                        @if (item.GiaKhuyenMai != null)
                                        {
                                            if (item.GiaKhuyenMai.HasValue)
                                            {
                                                <strong class="item_price">@item.GiaKhuyenMai.Value.ToString("N0")₫</strong>
                                                        <del>@item.DonGia.Value.ToString("N0")₫</del>
                                            }
                                            else
                                            {
                                                <strong class="item_price">Liên hệ</strong>
                                            }
                                        }
                                        else
                                        {
                                            if (item.DonGia.HasValue)
                                            {
                                                <strong class="item_price">@item.DonGia.Value.ToString("N0")₫</strong>
                                            }
                                            else
                                            {
                                                <strong class="item_price">Liên hệ</strong>
                                            }
                                        }
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <h5><a href="/them-gio-hang?productId=@item.MaSP&quantity=1" class="btn btn-cart">Thêm vào giỏ</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Single Page -->
