@model PagedList.IPagedList<Model.EF.SanPham>
@using PagedList.Mvc


@{
    ViewBag.Title = "Tất cả sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
        <h4 class="heading-tittle text-center">Danh sách tất cả sản phẩm</h4>
        <div class="row mb-4">
            @foreach (var item in Model)
            {
                var link = "/chi-tiet/" + item.MetaTitle + "-" + item.MaSP;
                <div class="col-md-3 product-men mt-4">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item text-center">
                            <a href="@link"><img src="/assets/client/images/@item.HinhAnh" alt="@item.TenSP"></a>
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="@link" class="link-product-add-cart">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product text-center border-top mt-4">
                            <label class="pt-2">
                                <a href="@link">@item.TenSP</a>
                            </label>
                            <div class="info-product-price">
                                @if (item.GiaKhuyenMai != null)
                                {
                                    if (item.GiaKhuyenMai.HasValue)
                                    {
                                        <strong class="item_price">@item.GiaKhuyenMai.Value.ToString("N0")₫</strong>
                                        <del>@item.DonGia.Value.ToString("N0")₫</del>
                                    }
                                    else
                                    {
                                        <strong class="item_price">Liên hệ</strong>
                                    }
                                }
                                else
                                {
                                    if (item.DonGia.HasValue)
                                    {
                                        <strong class="item_price">@item.DonGia.Value.ToString("N0")₫</strong>
                                    }
                                    else
                                    {
                                        <strong class="item_price">Liên hệ</strong>
                                    }
                                }
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <h5><a href="/them-gio-hang?productId=@item.MaSP&quantity=1" class="button btn">Thêm vào giỏ</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            }           
        </div>
        <div class="clear"></div>
        @Html.PagedListPager(Model, page => Url.Action("productAll",
                     new { page }), new PagedListRenderOptions
                     {
                         DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                         DisplayLinkToLastPage = PagedListDisplayMode.Never,
                         DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                         DisplayLinkToNextPage = PagedListDisplayMode.Always,
                         MaximumPageNumbersToDisplay = 5
                     })       
    </div>
</div>