@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProduct = (List<Model.EF.SanPham>)ViewBag.NewProduct;
}
@section slide {
    <div class="container py-xl-2 py-lg-2"> 
        <div class="row">
            <div class="col-md-12 col-lg-3 categories">
                @{ Html.RenderAction("productCategory", "product"); }
            </div>
            <div class="col-md-12 col-lg-9">
                <!-- banner -->
                <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
                    <!-- Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item item1 active">
                            <div class="container">
                                <div class="w3l-space-banner">
                                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                                        <p>
                                            Get flat
                                            <span>10%</span> Cashback
                                        </p>
                                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                            The
                                            <span>Big</span>
                                            Sale
                                        </h3>
                                        <a class="button2" href="#">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item item2">
                            <div class="container">
                                <div class="w3l-space-banner">
                                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                                        <p>
                                            advanced
                                            <span>Wireless</span> earbuds
                                        </p>
                                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                            Best
                                            <span>Headphone</span>
                                        </h3>
                                        <a class="button2" href="product.html">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item item3">
                            <div class="container">
                                <div class="w3l-space-banner">
                                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                                        <p>
                                            Get flat
                                            <span>10%</span> Cashback
                                        </p>
                                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                            New
                                            <span>Standard</span>
                                        </h3>
                                        <a class="button2" href="product.html">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item item4">
                            <div class="container">
                                <div class="w3l-space-banner">
                                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                                        <p>
                                            Get Now
                                            <span>40%</span> Discount
                                        </p>
                                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                            Today
                                            <span>Discount</span>
                                        </h3>
                                        <a class="button2" href="product.html">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- //banner -->
            </div>
        </div>
    </div>
}

<!-- top Products -->
<div class="ads-grid py-sm-4 py-3">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ản
            <span>P</span>hẩm
            <span>M</span>ới
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-center font-italic">Sản phẩm mới</h3>
                        <div class="row">
                            @foreach (var item in listNewProduct)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.MaSP;
                                <div class="col-md-4 product-men mt-5">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item text-center">
                                            <img src="/assets/client/images/@item.HinhAnh" alt="@item.TenSP">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@url" class="link-product-add-cart">Xem chi tiết</a>
                                                </div>
                                            </div>
                                            <span class="product-new-top">Mới</span>

                                        </div>
                                        <div class="item-info-product text-center border-top mt-4">
                                            <h4 class="pt-1">
                                                <a href="single.html">@item.TenSP</a>
                                            </h4>
                                            <div class="info-product-price my-2">
                                                @if (item.GiaKhuyenMai != null)
                                                {
                                                    <span class="item_price">@(item.GiaKhuyenMai.HasValue ? item.GiaKhuyenMai.Value.ToString("N0") : "Liên hệ")đ</span>
                                                    <del>@item.DonGia.Value.ToString("N0")đ</del>
                                                }
                                                else
                                                {
                                                    <span class="item_price">@(item.DonGia.HasValue ? item.DonGia.Value.ToString("N0") : "Liên hệ")đ</span>
                                                }
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                <h4><a href="/them-gio-hang?productId=@item.MaSP&quantity=1" class="btn btn-cart">Thêm vào giỏ</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- //first section -->
                    <!-- third section -->
                    <div class="product-sec1 product-sec2 px-sm-5 px-3">
                        <div class="row">
                            <h3 class="col-md-4 effect-bg">Lễ hội mùa hè</h3>
                            <p class="w3l-nut-middle">Giảm giá thêm 10%</p>
                            <div class="col-md-8 bg-right-nut">
                                <img src="/assets/client/images/image1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- //third section -->
                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Tìm kiếm..</h3>
                        <form action="/tim-kiem" method="get">
                            <input type="search" name="keyword" id="txtKeyword" placeholder="Tên sản phẩm...">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Giá bán</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="#">Dưới 10,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">10,000 - 100,000</a>
                                </li>
                                <li>
                                    <a href="#">100,000 - 500,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">500,000 - 1,000,000</a>
                                </li>
                                <li>
                                    <a href="#">1,000,000 - 5,000,000</a>
                                </li>
                                <li class="mt-1">
                                    <a href="#">Trên 5,000,000</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                    <!-- discounts -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Giảm giá</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">5% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">10% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">20% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">30% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">50% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">60% hoặc hơn</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev border-bottom left-side py-2">
                        <h3 class="agileits-sear-head mb-3">Đánh giá của khách hàng</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- electronics -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Thiết bị điện tử</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Phụ kiện</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Máy ảnh & Nhiếp ảnh</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Máy tính & Phụ kiện</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Định vị & Phụ kiện</span>
                            </li>

                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Âm thanh</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">TV & Video</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Đồ chơi công nghệ</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //electronics -->
                    <!-- best seller -->
                    <div class="f-grid py-2">
                        <h3 class="agileits-sear-head mb-3">Sản phẩm mua nhiều nhất</h3>
                        <div class="box-scroll">
                            <div class="scroll">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="/assets/client/images/k1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
                                        <a href="" class="price-mar mt-2">12,990.00đ</a>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="/assets/client/images/k2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Haier 195 L 4 Star Direct-Cool Single Door Refrigerator</a>
                                        <a href="" class="price-mar mt-2">12,499.00đ</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="/assets/client/images/k3.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
                                        <a href="" class="price-mar mt-2">1,199.00đ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //best seller -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>
<!-- //top products -->
<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-agile text-left p-4">
                    <div class="row">
                        <div class="col-sm-7 offer-name">
                            <h6>Âm thanh mượt mà và phong phú</h6>
                            <h4 class="mt-2 mb-3">Tai nghe thương hiệu</h4>
                            <p>Giảm giá tới 25% tất cả trong cửa hàng</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="/assets/client/images/off1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="join-agile text-left p-4">
                    <div class="row ">
                        <div class="col-sm-7 offer-name">
                            <h6>Ti vi màn hình cong siêu nét full</h6>
                            <h4 class="mt-2 mb-3">Ti vi thương hiệu hàng đầu</h4>
                            <p>Nhiều quà tặng hot đi kèm với sản phẩm</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="/assets/client/images/tivi-samsung.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle section -->
