@model IEnumerable<Model.EF.Menu>

@{
    ViewBag.Title = "Thông tin các menu";
    Layout = "~/Areas/admin/Views/Shared/_Layouts.cshtml";
}

@section header {
    Danh sách menu
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" cellspacing="0">
            <div class="create mb-3">
                <a href="/admin/menu/create" class="btn btn-info"><i class="fas fa-plus"></i> Thêm mới</a>
            </div>
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên menu</th>
                    <th>Đường dẫn</th>
                    <th>Kiểu click</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">
                        <td>@item.Id</td>
                        <td>@item.Text</td>
                        <td>@item.Link</td>
                        <td>@item.Target</td>
                        <td>
                            <a class="format-function-edit" href="/admin/menu/edit/@item.Id"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                            @Ajax.ActionLink("Xóa", "delete", new { @id = item.Id }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa menu này?",
                           OnComplete = "$(' #row_" + @item.Id + " ').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>
