@model Model.EF.QuanTri

@{
    ViewBag.Title = "Thông tin chi tiết tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_Layouts.cshtml";
    string trangThai = "";
}

@section header {
    Thông tin chi tiết tài khoản
}

<table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <tr>                    
                    <td><label class="display-label">Tài khoản:</label></td>
                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td><label class="display-label">Họ tên:</label></td>
                    <td>@Html.DisplayFor(model => model.HoTen)</td>
                </tr>
                <tr>
                    <td><label class="display-label">Email:</label></td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td><label class="display-label">Diện thoại:</label></td>
                    <td>@Html.DisplayFor(model => model.DienThoai)</td>
                </tr>
                <tr>
                    <td><label class="display-label">Địa chỉ:</label></td>
                    <td>@Html.DisplayFor(model => model.DiaChi)</td>
                </tr>
                <tr>
                    <td><label class="display-label">Trạng thái:</label></td>
                    <td>
                        @{if (Model.TrangThai == true)
                            { trangThai = "Hoạt động"; }
                            else
                            { trangThai = "Bị khóa"; }
                        }
                        @trangThai
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
