<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Hệ thống bán hàng điện tử</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="/assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/client/css/jquery-ui.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="/assets/client/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="/assets/client/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="/assets/client/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- flexslider -->
    <link rel="stylesheet" href="/assets/client/css/flexslider.css" type="text/css" media="screen" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- Bootstrap css -->
    <link href="/assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />

    @*@Styles.Render("~/bundles/core")*@

    @Scripts.Render("~/bundles/jscore")

    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>
    <!-- top-header -->
    <div class="agile-main-top">
        <div class="container-fluid">
            <div class="row main-top-w3l py-2">
                <div class="col-lg-4 header-most-top">
                    <p class="text-white text-lg-left text-center">
                        Ưu đãi & Giảm giá hàng đầu khu vực
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </p>
                </div>
                <div class="col-lg-8 header-right mt-lg-0 mt-2">
                    <!-- header lists -->
                    @{Html.RenderAction("TopMenu", "home"); }
                    <!-- //header lists -->
                </div>
            </div>
        </div>
    </div>
    <!-- //top-header -->
    <!-- header-bottom-->
    <div class="header-bot">
        <div class="container">
            <div class="row header-bot_inner_wthreeinfo_header_mid">
                <!-- logo -->
                <div class="col-md-3 logo_agile">
                    <h1 class="text-center">
                        <a href="/" ref="nofollow" class="font-weight-bold font-italic">
                            <img src="/assets/client/images/logo2.png" alt="" class="img-fluid">Cửa hàng
                        </a>
                    </h1>
                </div>
                <!-- //logo -->
                <!-- header-bot -->
                <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                    <div class="row">
                        <!-- search -->
                        <div class="col-10 agileits_search">
                            <form class="form-inline" action="/tim-kiem" method="get">
                                <input class="form-control mr-sm-2" type="text" name="keyword" id="txtKeyword" placeholder="Gỗ từ khóa tìm kiếm" aria-label="Search">
                                <button class="btn my-2 my-sm-0" type="submit">Tìm kiếm</button>
                            </form>
                        </div>
                        <!-- //search -->
                        <!-- cart details -->
                        @{ Html.RenderAction("HeaderCart", "home"); }
                        <!-- //cart details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderAction("MainMenu", "home"); }
    @RenderSection("slide", required: false)
    @RenderBody()
    <!-- footer -->
    <footer>
        @RenderPage("Footer.cshtml")
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">
                &copy; Copyright @DateTime.Now.Year | Trang thông tin quản lý của hàng điện máy | Designed By
                <a href="https://www.facebook.com/sontocxoan.congnghe"> Sơn Tóc Xoăn</a>
            </p>
        </div>
    </div>
    <!-- //copyright -->

    <!-- nav smooth scroll -->
    <script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
    </script>
    <!-- //nav smooth scroll -->
  
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
    <!-- //smooth-scrolling-of-move-up -->
    @Scripts.Render("~/bundles/controller");
    @RenderSection("jsFooter", required: false)
</body>

</html>