@model Model.EF.KhachHang

@{
    ViewBag.Title = "Thông tin chi tiết khách hàng";
    Layout = "~/Areas/admin/Views/Shared/_Layouts.cshtml";
    string gtinh = "";
    string trangThai = "";
}

@section header {
    Thông tin của nhân viên
}

<table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <tr>
                    <td><label>Mã khách hàng:</label></td>
                    <td>@Html.DisplayFor(model => model.MaKH)</td>
                </tr>
                <tr>
                    <td><label>Họ tên khách hàng:</label></td>
                    <td>@Html.DisplayFor(model => model.HoKH) @Html.DisplayFor(model => model.TenKH)</td>
                </tr>
                <tr>
                    <td><label>Giới tính:</label></td>
                    <td>
                        @{if (Model.GioiTinh == true)
                            { gtinh = "Nam"; }
                            else
                            { gtinh = "Nữ"; }
                        }
                        @gtinh
                    </td>
                </tr>
                <tr>
                    <td><label>Địa chỉ:</label></td>
                    <td>@Html.DisplayFor(model => model.DiaChi)</td>
                </tr>
                <tr>
                    <td><label>Số điện thoại:</label></td>
                    <td>@Html.DisplayFor(model => model.SDT)</td>
                </tr>               
                <tr>
                    <td><label>Email</label></td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                @*Kiểm tra xem nhân viên có tài khoản hay không*@
                @if (Model.UserID != null)
                {
                    <tr>
                        <td><label>Tài khoản:</label></td>
                        <td>@Html.DisplayFor(model => model.QuanTri.UserName)</td>
                    </tr>

                    <tr>
                        <td><label>Mật khẩu:</label></td>
                        <td>@Html.DisplayFor(model => model.QuanTri.Password)</td>
                    </tr>

                    <tr>
                        <td><label>Trạng thái:</label></td>
                        <td>
                            @{if (Model.QuanTri.TrangThai == true)
                                { trangThai = "Kích hoạt"; }
                                else
                                { trangThai = "khóa"; }
                            }
                            @trangThai
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
