@model PagedList.IPagedList<Model.EF.KhachHang>
@using PagedList.Mvc

@{
    ViewBag.Title = "Thông tin các khách hàng";
    Layout = "~/Areas/admin/Views/Shared/_Layouts.cshtml";
    string gioiTinh = "";
}

@section header {
    Danh sách khách hàng
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" cellspacing="0">
            <div class="d-flex">
                <div class="create w-80">
                    <a href="/admin/khachhang/create" class="btn btn-info"><i class="fas fa-plus"></i> Thêm mới</a>
                </div>
                @using (Html.BeginForm("index", "khachhang", FormMethod.Get))
                {
                    <div class="form-inline form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.Search" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.MaKH">
                        <td>@item.MaKH</td>
                        <td>
                            @item.HoKH
                            @item.TenKH
                        </td>
                        <td>
                            @if (item.GioiTinh == true)
                            {
                                gioiTinh = "Nam";
                            }
                            else
                            {
                                gioiTinh = "Nữ";
                            }
                            @gioiTinh
                        </td>                        
                        <td>@item.SDT</td>
                        <td>@item.DiaChi</td>
                        <td>
                            <a class="format-function-edit" href="/admin/khachhang/edit/@item.MaKH"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                            <a class="format-function-detail" href="/admin/khachhang/details/@item.MaKH"><i class="fas fa-info"></i> Chi tiết</a>
                            @Ajax.ActionLink("Xóa", "delete", new { @id = item.MaKH }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa khách hàng này?",
                           OnComplete = "$(' #row_" + @item.MaKH + " ').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("index", new { page, @searchString = @ViewBag.Search }))
    </div>
</div>