@model List<DoAnWebSell.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter {
    <script src="/assets/client/js/controller/cartController.js"></script>
}

<div class="container p-4">
    @if (Model.Count > 0)
    {
        <div class="cart_table">
            <table>
                <thead>
                    <tr>
                        <th width="14%">Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th width="15%">Đơn giá</th>
                        <th width="10%">Số lượng</th>
                        <th width="15%">Thành tiền</th>
                        <th width="5%">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td style="text-align: center;"><img src="/assets/client/images/@item.Product.HinhAnh" width="70" /></td>
                            <td style="font-weight:bold; color:#337ab7;">@item.Product.TenSP</td>

                            @*Nếu có giá khuyến mãi thì lấy giá khuyến mãi*@
                            @if (item.Product.GiaKhuyenMai != null)
                            {
                                <td style="text-align: center;">@item.Product.GiaKhuyenMai.GetValueOrDefault(0).ToString("N0")đ</td>
                            }
                            else
                            {
                                <td style="text-align: center;">@item.Product.DonGia.GetValueOrDefault(0).ToString("N0")đ</td>
                            }

                            <td style="text-align: center;">
                                <input type="text" class="txtQuantity text-center" data-id="@item.Product.MaSP" value="@item.Quantity" style="width:30px" />
                            </td>

                            @*Nếu có giá khuyến mãi thì lấy giá khuyến mãi để tính thành tiền*@
                            @if (item.Product.GiaKhuyenMai != null)
                            {
                                <td style="text-align: center;">@((item.Product.GiaKhuyenMai.GetValueOrDefault(0) * item.Quantity).ToString("N0"))đ</td>
                            }
                            else
                            {
                                <td style="text-align: center;">@((item.Product.DonGia.GetValueOrDefault(0) * item.Quantity).ToString("N0"))đ</td>
                            }
                                                   
                            <td style="text-align: center;"><a href="#" data-id="@item.Product.MaSP" class="btn-delete"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <button id="btnContinue" class="btn btn-danger">Tiếp tục mua hàng</button>
        <button id="btnUpdate" class="btn btn-default">Cập nhập giỏ hàng</button>
        <button id="btnDeleteAll" class="btn btn-danger">Xóa giỏ hàng</button>
        <button id="btnPayment" class="btn btn-success float-right">Thanh toán</button>
    }
    else
    {
        <span class="alert alert-danger mt-3">Chưa có sản phẩm nào trong giỏ hàng</span>
    }
</div>